#full_top_image_toper{
    width:100%;
    height:45vh;
    background: url(../../assets/profile_bg.png);
    background-size:cover;
    background-position: top;
    box-shadow: 0px 3px 6px rgb(173, 173, 173);
}

#full_top_image_dilmun{
    position:absolute;
    width:150px;
    left:50vw;
    transform: translate(-50%,-50%);
    bottom: calc(45vh - 30px);
}

@media screen and (max-width:400px){
    #full_top_image_toper{
        height:30vh;
        background-color:blue;
    }
}

#full_top_white_line{
    height:1px;
    position:relative;
    text-align:center;
    background: white;
    top:8vh;
    
}

#full_top_white_line span{
    background-color:white;
    display:inline-block;
    color:black;
    font-size: 1.3em;
    padding:5px 10px;
    border-radius: 20px;
    transform-origin: center;
    box-shadow: 0px 3px 6px rgb(97, 97, 97);
    transform:translate(0px,-50%);
}

#full_top_white_line img{
    position:absolute;
    width:60px;
    transform: translate(-50%,-50%);
    left: 10vw;
}
@media screen and (max-width:750px){
    #full_top_image_dilmun{
        width:120px;
        bottom: 45vh;
    }
    #full_top_white_line span{
        font-size: 1em;
    }
    #full_top_white_line img{
        width:50px;
        left:7vw;
    }
}

@media screen and (max-width:550px){
    #full_top_image_dilmun{
        width:90px;
        bottom: 60vh;
    }

    #full_top_white_line span{
        font-size: 0.8em;
    }
    #full_top_white_line img{
        width:40px;
        left:7vw;
    }
}
@media screen and (max-width:450px){
    #full_top_white_line span{
        font-size: 0.6em;
    }
    #full_top_image_dilmun{
        width:60px;
        bottom: 65vh;
    }
}
