#Profile_My_items {
  padding-left: 7vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  margin-bottom: 1rem;
}

#Profile_content_container_data {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  margin-left: 7vw;
  margin-right: 7vw;
  box-shadow: 0px 3px 6px rgb(97, 97, 97);
}

#Profile_My_items button:hover {
  background-color: #0e4281;
}
#Profile_My_items button {
  outline: none;
  background-color: #0050b3;
  margin-right: 7vw;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
}

@media only screen and (min-width: 768px) {
  #Profile_content_container_data {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  #Profile_My_items button {
    margin-right: 15vw;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  #Profile_My_items {
    padding-left: 15vw;
  }
}

#tailwind_dont_have_spacebetween {
  justify-content: space-between;
}

#delete_button_hover {
  outline: none;
}
#delete_button_hover:hover {
  box-shadow: 0px 0px 6px rgb(202, 36, 36);
}
