.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-multiple-carousel__arrow {
  background-color: #ffffff !important;
  z-index: 1 !important;
  border-radius: 10px !important;
}

.react-multiple-carousel__arrow:focus {
  outline: none !important;
}
.react-multiple-carousel__arrow:hover {
  background-color: #e5e5e5 !important;
}

.react-multiple-carousel__arrow::before {
  color: #282c34 !important;
}

.rsm-m-4 {
  margin: 10vw !important;
  margin-top: 23vh !important;
  margin-bottom: 23vh !important;
}

.rsm-z-40 {
  z-index: 999 !important;
}
.rsm-p-8 {
  padding: 2vw !important;

  padding-bottom: 0 !important;
}
