.react-multiple-carousel__arrow {
  background-color: #ffffff !important;
  z-index: 1 !important;
  border-radius: 10px !important;
}

.react-multiple-carousel__arrow:focus {
  outline: none !important;
}
.react-multiple-carousel__arrow:hover {
  background-color: #e5e5e5 !important;
}

.react-multiple-carousel__arrow::before {
  color: #282c34 !important;
}

.bg-header {
  background-image: url('./assets/flys-01.svg');
  background-repeat: repeat;
  background-size: contain;
}

@media only screen and (max-width: 767.58px) {
  .bg-header {
    background-image: url('./assets/landing-Main-vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.bg-profile {
  background-image: url('./assets/profile_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
