/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Speda-Bold';
    src: url(font/Speda-Bold.ttf);
  }
  @font-face {
    font-family: 'k24';
    src: url(font/K24KurdishLight-Light.ttf);
  }

*{
    font-family: 'Comfortaa', cursive !important;
    background-color:#f7f7f9;
}

img{
  background:none;
}