/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Speda-Bold';
    src: url(font/Speda-Bold.ttf);
}
@font-face {
    font-family: 'k24';
    src: url(font/K24KurdishLight-Light.ttf);
}

img {
    background: none;
}
